


<div class="modal-body" id="modalAgregar">
    <form (ngSubmit)="agregarPizarra()">

        <div class="class form-group"  >
            <label for="">Nombre</label>
            <input  id="nombre" type="text" class="form-control" name="nombre" [(ngModel)]="pizarra.nombre"  />
            
            <label for="">Descripción</label>
            <input  id="des" type="text" class="form-control" name="descripcion" [(ngModel)]="pizarra.descripcion"  />
    
            <button id="btn_Validar" type="submit" class="btn btn-primary" style="margin-top: 20px;"  >
                Crear Pizarra
            </button>
            
        </div>
    </form>

  </div>

  <script type="text/javascript">
 function validarInput() {
  document.getElementById('btn_Validar')
  .disabled = (!document.getElementById('nombre').value.length);
}
  </script>

